*{
	box-sizing: border-box;
}

.hide{
	display: none;
}

.month h2{
	background-color: #ececec;
	cursor: pointer; 
	margin: 0;
}

.month .category{
	font-weight: bold;
}

.month .amount{
	padding-left: 10px;
}

.admin{
	width: 100%;
	
}

.panels{
	float: left;
	width: 80%;
	min-height: 300px;
	border: 1px solid #ececec;
	padding: 30px;
}
.admin__controls{
	float: left;
	max-width: 20%;
	padding: 0;
}

.admin__control{
	list-style: none;
	border-top: 1px solid #ececec;
	border-left: 1px solid #ececec;
	padding: 10px;
	padding-right: 30px;
	cursor: pointer;
}

.admin__control:last-child{
	border-bottom: 1px solid #ececec;
}



